/* ExpenseTracker.css */
input{
    color:black;
  }
  .delete-button {
    background-color: #ff5555;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #ff3333;
  }
  
  .expense-tracker {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    color: #ff4500; /* OrangeRed */
  }
  
  .balance,
  .summary {
    text-align: center;
    margin-top: 20px;
  }
  
  .balance h3,
  .summary h3 {
    color: #1e90ff; /* DodgerBlue */
  }
  
  /* Auth.css */
  
  
  
  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: white;
    margin-right: 20px;
  }
  
  .profile-photo {
    border-radius: 50%;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
  }
  .sign-out{
    background-color: #4caf50; /* Green background color */
    color: white; /* Wrgb(50, 171, 205)xt color */
    padding: 10px 20px; /* Padding around text */
    font-size: 16px; /* Font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease  ; 
    margin-left:100px;
  }
  .balance-amount,
  .expense-amount {
    color: #32cd32; /* LimeGreen */
  }
  
  .add-transaction {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .input-field {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ffa500; /* Orange */
    border-radius: 4px;
  }
  
  /* transaction */
  .transactions-container {
    margin-top: 20px;
    background-color: #5c5959; /* Dark background color */
    padding: 10px;
  }
  
  .transactions-list {
    list-style: none;
    padding: 0;
   
  }
  
  .transaction-item {
    background-color: #000000; /* Dark background color */
    border: 1px solid #000000; /* Dark border color */
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .transaction-item h4 {
    margin: 0;
  }
  
  .transaction-item p {
    margin: 5px 0;
    color:white;
  }
  *{
    color:white;
  }
  .transaction-type {
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
  }
  
  .transaction-type.expense {
    background-color: #ff5a5f; /* Red for expenses */
  }
  
  .transaction-type.income {
    background-color: #00bfa5; /* Green for income */
  }
  
  h1 {
    color: #ffffff; /* Light text color */
  }
  
  label {
    color: #ffffff; /* Light text color */
    margin-bottom: 10px;
  }
  
  .add-button {
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around text */
    font-size: 16px; /* Font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  .add-button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  